@media only screen and (max-width: 768px) {
    html,body
    {
        width: 100%;
        height: 100%;
        margin: 0px;
        padding: 0px;
        overflow-x: hidden; 
    }
}

.temp-div {
    margin-top: 3rem;
}

.logo {
    max-height: 5rem !important;
}

.icon-custom {
    width: 25px;
    height: 25px;
}

.info {
    margin-top: 3%;
}

.navbar {
    background-color: transparent !important;
    color: aliceblue !important;
    max-height: 90px;
}

.dark-color {
    color: #363636 !important;
}

.navbar-menu .aqua {
    color: aliceblue !important;
}
.navbar-item:hover {
    background-color: transparent !important;
}

.navbar-item {
    padding-bottom: 0;
    padding-top: 0;
    max-height: 90px;
}

.navbar-link {
    color: aliceblue;
    background-color: transparent !important;
    padding-bottom: 0;
    padding-top: 0;
}

.navbar-link:hover {
    color: aliceblue;
    background-color: transparent !important;
}

.mobile-navbar-menu {
    background-color: #363636;
    width: 100%;
    transform: translateX(100vh);
}

.mobile-navbar-menu-content {
    color: aliceblue;
}

.categories-menu {
    opacity: 0;
    display: none;
}

.navbar-burger, .navbar-burger p:focus {
    background-color: transparent !important;
} 

.custom-item-margin {
    margin-top: 1.75rem;
}

.custom-item-margin-contact {
    margin-top: 0.4rem;
}

.navbar-dropdown {
    background-color: #ffffff;
}

.active {
    background-color: transparent !important;
}

.drop {
    position: relative;
    margin-top: 33px;
}

.drop-btn-padding {
    padding-bottom: 21px;
}

.drop-menu {
    padding: 7px 17px;
    width: 12rem;
    transform: translateY(-100vh);
}

.drop-menu-box {
    position: absolute;
    top: calc(75%);
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
}

.welcome-section {
    transform: translateY(-90px);
}

.home-image {
    background-image: linear-gradient(rgba(75, 85, 161, 0.556), rgba(35, 40, 80, 0.442)), url("images/study-1.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 17rem;
    padding-bottom: 17rem;
    filter: brightness(100%);
    color: rgb(255, 255, 255) !important;
    height: 10rem;
}

.home-image-2 {
    background-image: linear-gradient(rgba(75, 85, 161, 0.556), rgba(35, 40, 80, 0.442)), url("images/study-2.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 17rem;
    padding-bottom: 17rem;
    filter: brightness(100%);
    color: rgb(255, 255, 255) !important;
    height: 10rem;
}

p {
    color: aliceblue !important;
}

.is-active {
    background-color: rgb(51, 53, 54) !important;
}

.centered-table {
    margin-left: auto;
    margin-right: auto;
}

.spaced-cells {
    padding-right: 3rem;
    padding-left: 3rem;
}

.anchor-style {
    color: aliceblue !important;
}

.buttons-div {
    margin: auto;
    max-width: 25rem;
}

.orange-bg {
    background-color: #ff5a2c !important;
}

.medium-height-btn {
    max-height: 2.5rem;
}

.card-section {
    max-width: 75rem;
    margin: auto;
    transform: translateY(-25px);
}

.card-section-box {
    max-width: 21rem;
    margin: auto;
    padding-bottom: 3rem;
    padding-top: 3rem;
}

.cards-title {
    margin-top: 1rem;
}

.card-image {
    margin: auto;
    max-width: 275px;
    padding-top: 1rem;
}

:root {
    --swiper-theme-color: #485FC7;
}

.methods-section {
    margin-top: 3rem;
    background-color: #fafafa;
    padding: 0;
    margin-bottom: 3rem;
}

.methods-image {
    max-width: 28rem;
}

.padding-0 {
    padding: 0px !important;
}

.margin-left {
    margin-left: 1rem !important;
}

.methods-p {
    padding-bottom: 1rem;
}

.method-nb {
    color: #ff5a2c !important;
}

.formation-image {
    max-width: 16rem;
}

.image-column {
    max-width: 17rem;
}

.timing-column {
    max-width: 7rem;
}

.info-column {
    max-width: 21rem;
}

.info-text {
    font-size: 0.8rem;
}

.formation-box {
    max-width: 37rem;
    margin: auto;
    padding: 15px;
}

.formation-outer-card {
    max-width: 37rem;
    margin: auto;
}

.formations-section {
    margin-bottom: 3rem;
}

.formations-section-title {
    text-align: center;
    margin-bottom: 3rem;
}

.view-button {
    background-color: #ff5a2c;
}

.view-button-text {
    color: #fafafa;
}

.formations-container {
    display: grid;
    grid-gap: 0rem;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    margin: auto 5rem auto 5rem;
}

@media only screen and (max-width: 768px) {
    .formations-container
    {
        display: grid;
        grid-gap: 0rem;
        grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
        margin: auto 2.5rem auto 2.5rem; 
    }
  }

.formation-card-image {
    width: 223px;
    height: 150px;
    object-fit: cover;
}

.formation-card-section-box {
    max-width: 223px;
    margin: auto;
}

.formation-card-image {
    margin: auto;
    max-width: 275px;
}

.duration-icon {
    max-width: 1.3rem;
}

.date-icon {
    max-width: 1.5rem;
}

.footer {
    background-image: url("./images/cubes.png");
    padding-bottom: 1px;
    padding-top: 2rem;
}

.newsletter-box {
   max-width: 55rem;
   margin: auto;
   padding: 2rem !important;
   margin-bottom: 2rem !important;
}

.newsletter-icon {
    max-width: 55px;
}

.form-col {
    padding-bottom: 0px;
    padding-top: 0px;
}

.menu-div {
    max-width: 25rem;
}

.social-media-icon {
    max-width: 2rem;
    margin: 5px;
}

.under-logo-text {
    font-size: 0.75rem;
}

.footer-logo {
    max-width: 10rem;
}

.footer a {
    padding: 3px 12px;
}

.footer a:hover {
    background-color: transparent;
}

.footer .column {
    padding-top: 0px;
}

/*




            a propos section css




*/

.fa-bg {
    background-color: #fafafa;
}

.presentation-section {
    max-width: 90rem;
}

.orange-hr {
    background: #ff5a2c;
    margin: 15px 0px 0px 0px;
    height: 3px;
    max-width: 5rem;
}

.pres-img {
    max-width: 17rem;
}

.pres-text {
    font-size: 1.15rem;
}

.lvl-1 {
    font-size: 3.7rem !important;
}

.lvl-3 {
    font-size: 2.5rem !important;
}

.lvl-4 {
    font-size: 2rem !important;
}

.lvl-5 {
    font-size: 1.1rem !important;
}

.lvl-7 {
    font-size: 0.95rem !important;
}

.lvl-8 {
    font-size: 0.85rem !important;
}

.lvl-10 {
    font-size: 0.75rem !important;
}

.notre-method-text {
    max-width: 61rem;
    margin: auto;
}

.notre-method-hr {
    background: #ff5a2c;
    height: 3px;
    width: 35rem;
    margin: auto;
    margin-bottom: 1.7rem;
}

.notre-method-p {
    font-size: 1.3rem;
}

.founder-word-section {
    background-color: #fafafa;
}

.founder-word-img {
    max-width: 30rem;
}

.founder-word-p {
    font-size: 1.1rem;
}

.founder-word-box {
    margin: 3rem 5rem 3rem 3rem;
    background-color: #fafafa;
}

.testemonies-box {
    max-width: 70rem;
    margin: auto;
}

.testemony-box {
    margin: 5rem auto 5rem auto;
    max-width: 19rem;
}

.testemony-img {
    width: 13rem;
    height: 13rem;
    object-fit: cover;
    border-radius: 50%;
}

.note-btn-div {
    margin: 5rem auto 5rem auto;
}

.center-pic-section {
    max-width: 85rem;
    margin: 5rem auto 5rem auto;
    text-align: center;
}

.center-interior-img {
    width: 25rem;
    height: 15rem;
    object-fit: cover;
}

/*


            Temoin page


*/

.temoin {
    max-width: 57rem;
    margin: 5rem auto 5rem auto;
    text-align: center;
}

.orange-star {
    color: #ff5a2c !important;
}

.image-upload-icon {
    max-width: 1.3rem;
}

/*


            Contact page


*/

.orange-hr-contact {
    background: #ff5a2c;
    height: 4px;
    width: 5rem;
    margin: 1.2rem 0rem 0rem 0rem;
}

.contact-title {
    color: #ff5a2c !important;
}

.contact-info-col {
    background-image: url("images/map_shape.webp");
    background-size: cover;
    background-position: right;
    padding: 2.5rem 2.5rem 5rem 2.5rem;
}

.contact-form-col {
    padding-top: 2.5rem;
}

/*


            404 Not Found page


*/

.not-found-box {
    max-width: 57rem;
}

/*


            formation page


*/

.formation-page-image {
    max-width: 32.5rem;
    margin-right: 2rem;
}

@media only screen and (max-width: 768px) {
    .formation-page-image {
        max-width: 20rem;
        margin-right: 2rem;
    }
}

.formateur-image {
    width: 5rem;
    height: 5rem;
    object-fit: cover;
    border-radius: 50%;
}

.formation-info-box {
    max-width: 57.4rem;
    margin:3rem auto 3rem auto !important;
}

.formation-title {
    color: #ff5a2c !important;
}

.under-tab-content {
    background-color: #ffffff;
}

@media only screen and (max-width: 768px) {
    .under-tab-content {
        background-color: #ffffff;
        padding: 0px !important;
    }
}

@media only screen and (max-width: 768px) {
    .formation-details {
        padding-right: 0px !important;
        padding-left: 0px !important;
        padding-top: 1rem !important;
        padding-bottom: 2rem !important;
    }
}

.comment-hr {
    background: #7d7d7d;
    height: 2.5px;
    width: 35rem;
    margin: auto;
    margin-bottom: 1.7rem;
}

.orange-text {
    color: #ff5a2c !important;
}

.leave-comment-form {
    max-width: 50rem;
    margin: 2rem auto 5rem auto;
}

@media only screen and (max-width: 768px) {
    .leave-comment-form {
        max-width: 21.7rem;
        margin: 2rem auto 5rem auto;
    }
}

.comments {
    max-width: 47rem;
    margin: auto;
}

@media only screen and (max-width: 768px) {
    .comments {
        max-width: 21rem;
        margin: auto;
    }
}

@media only screen and (max-width: 768px) {
    .tabs ul {
      flex-direction: row;
      flex-wrap: wrap;
      width: 100%;
    }
}

/*


            formation page


*/

.login-logo-div {
    margin: 2rem auto 2rem auto;
    text-align: center;
}

.login-logo {
    max-width: 10rem;
}

.login-form {
    max-width: 25rem;
    margin: 0rem auto 10rem auto !important;
}